<h2 class="text-center mb-4">Agregar Persona</h2>
        
<form class="mb-5">
    <div class="mb-3">
        <label for="nombre" class="form-label">Digite su nombre</label>
        <input type="text" class="form-control" id="nombre" #nombre placeholder="Nombre">
    </div>
    <div class="mb-3">
        <label for="edad" class="form-label">Digite su edad</label>
        <input type="number" class="form-control" id="edad" #edad placeholder="Edad">
    </div>
    <div class="mb-3">
        <label for="correo" class="form-label">Digite su correo</label>
        <input type="email" class="form-control" id="correo" #correo placeholder="Correo">
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Digite su teléfono</label>
        <input type="text" class="form-control" id="telefono" #telefono placeholder="Teléfono">
    </div>
    <button type="button" class="btn btn-primary" (click)="agregarPersona(nombre.value, edad.value, correo.value, telefono.value)">
        Agregar Persona
    </button>
</form>

